---
http_interactions:
- request:
    method: get
    uri: http://api.wunderground.com/auto/wui/geo/WXCurrentObXML/index.xml?query=37.8267,-122.423
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Creationtime:
      - '0.039'
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: "\t<current_observation>\n\t\t<credit>Weather Underground NOAA Weather
        Station</credit>\n\t\t<credit_URL>http://wunderground.com/</credit_URL>\n<termsofservice
        link=\"http://www.wunderground.com/weather/api/d/terms.html\">This feed will
        be deprecated. Please switch to http://www.wunderground.com/weather/api/</termsofservice>\n\t\t<image>\n\t\t<url>http://icons.wxug.com/graphics/wu2/logo_130x80.png</url>\n\t\t<title>Weather
        Underground</title>\n\t\t<link>http://wunderground.com/</link>\n\t\t</image>\n
        \ <display_location>\n  <full>San Francisco, CA</full>\n  <city>San Francisco</city>\n
        \ <state>CA</state>\n  <state_name>California</state_name>\n  <country>US</country>\n
        \ <country_iso3166>US</country_iso3166>\n  <zip>94133</zip>\n  <latitude>37.826700</latitude>\n
        \ <longitude>-122.423000</longitude>\n  <elevation>29.00000000 ft</elevation>\n
        \ </display_location>\n\t\t<observation_location>\n\t\t<full>Oakland, California</full>\n\t\t<city>Oakland</city>\n\t\t<state>California</state>\n\t\t<country>US</country>\n\t\t<country_iso3166>US</country_iso3166>\n\t\t<latitude>37.71780014</latitude>\n\t\t<longitude>-122.23294067</longitude>\n\t\t<elevation>7
        ft</elevation>\n\t\t</observation_location>\n\t\t<station_id>KOAK</station_id>\n\t\t<observation_time>Last
        Updated on May 26, 3:53 AM PDT</observation_time>\n\t\t<observation_time_rfc822>Thu,
        26 May 2016 10:53:00 GMT</observation_time_rfc822>\n\t\t<observation_epoch>1464259980</observation_epoch>\n\t\t<local_time>May
        26, 3:56 AM PDT</local_time>\n\t\t<local_time_rfc822>Thu, 26 May 2016 10:56:03
        GMT</local_time_rfc822>\n\t\t<local_epoch>1464260163</local_epoch>\n\t\t<weather>Overcast</weather>\n\t\t<temperature_string>57
        F (14 C)</temperature_string>\n\t\t<temp_f>57</temp_f>\n\t\t<temp_c>14</temp_c>\n\t\t<relative_humidity>77%</relative_humidity>\n\t\t<wind_string>From
        the SW at 10 MPH Gusting to 17 MPH</wind_string>\n\t\t<wind_dir>SW</wind_dir>\n\t\t<wind_degrees>220</wind_degrees>\n\t\t<wind_mph>10</wind_mph>\n\t\t<wind_gust_mph>17</wind_gust_mph>\n\t\t<pressure_string>30.09
        in (1019 mb)</pressure_string>\r\n\t\t<pressure_mb>1019</pressure_mb>\r\n\t\t<pressure_in>30.09</pressure_in>\r\n\t\t<dewpoint_string>50
        F (10 C)</dewpoint_string>\r\n\t\t<dewpoint_f>50</dewpoint_f>\r\n\t\t<dewpoint_c>10</dewpoint_c>\r\n\t\t\r\n\t\t<heat_index_string>NA</heat_index_string>\r\n\t\t<heat_index_f>NA</heat_index_f>\r\n\t\t<heat_index_c>NA</heat_index_c>\r\n\t\t\r\n\t\t\r\n\t\t<windchill_string>NA</windchill_string>\r\n\t\t<windchill_f>NA</windchill_f>\r\n\t\t<windchill_c>NA</windchill_c>\r\n\t\t\r\n\t\t<visibility_mi>10.0</visibility_mi>\r\n\t\t<visibility_km>16.1</visibility_km>\r\n\t\t<icons>\r\n\t\t\t<icon_set
        name=\"Default\">\r\n\t\t\t\t<icon_url>http://icons.wxug.com/i/c/a/cloudy.gif</icon_url>\r\n\t\t\t</icon_set>\r\n\t\t\t<icon_set
        name=\"Smiley\">\r\n\t\t\t\t<icon_url>http://icons.wxug.com/i/c/b/cloudy.gif</icon_url>\r\n\t\t\t</icon_set>\r\n\t\t\t<icon_set
        name=\"Generic\">\r\n\t\t\t\t<icon_url>http://icons.wxug.com/i/c/c/cloudy.gif</icon_url>\r\n\t\t\t</icon_set>\r\n\t\t\t<icon_set
        name=\"Old School\">\r\n\t\t\t\t<icon_url>http://icons.wxug.com/i/c/d/cloudy.gif</icon_url>\r\n\t\t\t</icon_set>\r\n\t\t\t<icon_set
        name=\"Cartoon\">\r\n\t\t\t\t<icon_url>http://icons.wxug.com/i/c/e/cloudy.gif</icon_url>\r\n\t\t\t</icon_set>\r\n\t\t\t<icon_set
        name=\"Mobile\">\r\n\t\t\t\t<icon_url>http://icons.wxug.com/i/c/f/cloudy.gif</icon_url>\r\n\t\t\t</icon_set>\r\n\t\t\t<icon_set
        name=\"Simple\">\r\n\t\t\t\t<icon_url>http://icons.wxug.com/i/c/g/cloudy.gif</icon_url>\r\n\t\t\t</icon_set>\r\n\t\t\t<icon_set
        name=\"Contemporary\">\r\n\t\t\t\t<icon_url>http://icons.wxug.com/i/c/h/cloudy.gif</icon_url>\r\n\t\t\t</icon_set>\r\n\t\t\t<icon_set
        name=\"Helen\">\r\n\t\t\t\t<icon_url>http://icons.wxug.com/i/c/i/cloudy.gif</icon_url>\r\n\t\t\t</icon_set>\r\n\t\t\t<icon_set
        name=\"Incredible\">\r\n\t\t\t\t<icon_url>http://icons.wxug.com/i/c/k/cloudy.gif</icon_url>\r\n\t\t\t</icon_set>\r\n\t\t</icons>\r\n\t\t<icon_url_base>http://icons.wxug.com/graphics/conds/</icon_url_base>\r\n\t\t<icon_url_name>.GIF</icon_url_name>\r\n\t\t<icon>cloudy</icon>\r\n\t\t<forecast_url>http://www.wunderground.com/US/CA/San_Francisco.html</forecast_url>\r\n\t\t<history_url>http://www.wunderground.com/history/airport/KOAK/2016/5/26/DailyHistory.html</history_url>\r\n\t\t<ob_url>http://www.wunderground.com/cgi-bin/findweather/getForecast?query=37.71780014,-122.23294067</ob_url>\r\n\t</current_observation>\r\n"
  recorded_at: Thu, 26 May 2016 10:56:03 GMT
- request:
    method: get
    uri: http://api.wunderground.com/auto/wui/geo/ForecastXML/index.xml?query=37.8267,-122.423
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Creationtime:
      - '0.059'
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" ?>\n<forecast>\n\t\t<termsofservice link=\"http://www.wunderground.com/weather/api/d/terms.html\">This
        feed will be deprecated. Please switch to http://www.wunderground.com/weather/api/</termsofservice>\n\t<txt_forecast>\n
        \ <date>3:02 AM PDT</date>\n  <number>2</number>\n  <forecastday>\n  <period>1</period>\n
        \ <icon>cloudy</icon>\n\t <icons>\n  <icon_set name=\"Default\">\n\t <icon_url>http://icons.wxug.com/i/c/a/cloudy.gif</icon_url>\n\t
        </icon_set>\n  <icon_set name=\"Smiley\">\n\t <icon_url>http://icons.wxug.com/i/c/b/cloudy.gif</icon_url>\n\t
        </icon_set>\n  <icon_set name=\"Generic\">\n\t <icon_url>http://icons.wxug.com/i/c/c/cloudy.gif</icon_url>\n\t
        </icon_set>\n  <icon_set name=\"Old School\">\n\t <icon_url>http://icons.wxug.com/i/c/d/cloudy.gif</icon_url>\n\t
        </icon_set>\n  <icon_set name=\"Cartoon\">\n\t <icon_url>http://icons.wxug.com/i/c/e/cloudy.gif</icon_url>\n\t
        </icon_set>\n  <icon_set name=\"Mobile\">\n\t <icon_url>http://icons.wxug.com/i/c/f/cloudy.gif</icon_url>\n\t
        </icon_set>\n  <icon_set name=\"Simple\">\n\t <icon_url>http://icons.wxug.com/i/c/g/cloudy.gif</icon_url>\n\t
        </icon_set>\n  <icon_set name=\"Contemporary\">\n\t <icon_url>http://icons.wxug.com/i/c/h/cloudy.gif</icon_url>\n\t
        </icon_set>\n  <icon_set name=\"Helen\">\n\t <icon_url>http://icons.wxug.com/i/c/i/cloudy.gif</icon_url>\n\t
        </icon_set>\n  <icon_set name=\"Incredible\">\n\t <icon_url>http://icons.wxug.com/i/c/k/cloudy.gif</icon_url>\n\t
        </icon_set>\n\t </icons>\n  <title>Today</title>\n  <fcttext>Areas of low
        clouds and drizzle in the morning then partly cloudy. Highs in the 50s to
        upper 60s. Southwest winds 5 to 10 mph...becoming west 10 to 20 mph in the
        afternoon. </fcttext>\n  </forecastday>\n  <forecastday>\n  <period>2</period>\n
        \ <icon>nt_sunny</icon>\n\t <icons>\n  <icon_set name=\"Default\">\n\t <icon_url>http://icons.wxug.com/i/c/a/nt_sunny.gif</icon_url>\n\t
        </icon_set>\n  <icon_set name=\"Smiley\">\n\t <icon_url>http://icons.wxug.com/i/[...]
