---
http_interactions:
- request:
    method: get
    uri: https://webservices.amazon.com/onca/xml?AWSAccessKeyId=AKIAJYVTO265BHKQYDOA&AssociateTag=castb-20&ItemId=B00L1KFQKC&Operation=ItemLookup&ResponseGroup=Small,%20Images,%20OfferSummary&Service=AWSECommerceService&Signature=F4SfRv2%2B/P8Zna68s8iEitaBLhpAZBB4/bA/kPrHt1M=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2016-06-08T10:49:42Z&Version=2013-08-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" ?><ItemLookupResponse xmlns="http://webservices.amazon.com/AWSECommerceService/2013-08-01"><OperationRequest><HTTPHeaders><Header
        Name="UserAgent" Value="Jeff/1.5.1 (Language=Ruby; vagrant-ubuntu-trusty-64)"></Header></HTTPHeaders><RequestId>091ed3eb-9545-4995-a155-fc2d154db03d</RequestId><Arguments><Argument
        Name="AWSAccessKeyId" Value="AKIAJYVTO265BHKQYDOA"></Argument><Argument Name="AssociateTag"
        Value="castb-20"></Argument><Argument Name="ItemId" Value="B00L1KFQKC"></Argument><Argument
        Name="Operation" Value="ItemLookup"></Argument><Argument Name="ResponseGroup"
        Value="Small, Images, OfferSummary"></Argument><Argument Name="Service" Value="AWSECommerceService"></Argument><Argument
        Name="SignatureMethod" Value="HmacSHA256"></Argument><Argument Name="SignatureVersion"
        Value="2"></Argument><Argument Name="Timestamp" Value="2016-06-08T10:49:42Z"></Argument><Argument
        Name="Version" Value="2013-08-01"></Argument><Argument Name="Signature" Value="F4SfRv2+/P8Zna68s8iEitaBLhpAZBB4/bA/kPrHt1M="></Argument></Arguments><RequestProcessingTime>0.0099991630000000</RequestProcessingTime></OperationRequest><Items><Request><IsValid>True</IsValid><ItemLookupRequest><IdType>ASIN</IdType><ItemId>B00L1KFQKC</ItemId><ResponseGroup>Small</ResponseGroup><ResponseGroup>Images</ResponseGroup><ResponseGroup>OfferSummary</ResponseGroup><VariationPage>All</VariationPage></ItemLookupRequest></Request><Item><ASIN>B00L1KFQKC</ASIN><DetailPageURL>http://www.amazon.com/Silk18-Natural-Conditioner-Maple-Holistics/dp/B00L1KFQKC%3FSubscriptionId%3DAKIAJYVTO265BHKQYDOA%26tag%3Dcastb-20%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3DB00L1KFQKC</DetailPageURL><ItemLinks><ItemLink><Description>Technical
        Details</Description><URL>http://www.amazon.com/Silk18-Natural-Conditioner-Maple-Holistics/dp/tech-data/B00L1KFQKC%3FSubscriptionId%3DAKIAJYVTO265BHKQYDOA%26tag%3Dcastb-20%26linkCode%3Dxm2%26camp%3D2025%26creative%3D386001%26creativeASIN%3DB00L1KFQKC</URL></ItemLink><ItemLink><Description>Add
        To Baby Registry</Description><URL>http://www.amazon.com/gp/registry/baby/add-item.html%3Fasin.0%3DB00L1KFQKC%26SubscriptionId%3DAKIAJYVTO265BHKQYDOA%26tag%3Dcastb-20%26linkCode%3Dxm2%26camp%3D2025%26creative%3D386001%26crea[...]
