---
http_interactions:
- request:
    method: get
    uri: http://api.wunderground.com/api/c86d37088090cd44/conditions/q/zmw:00000.1.83779.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Creationtime:
      - '0.060'
      Last-Modified:
      - Wed, 08 Jun 2016 11:27:07 GMT
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "\n{\n  \"response\": {\n  \"version\":\"0.1\",\n  \"termsofService\":\"http://www.wunderground.com/weather/api/d/terms.html\",\n
        \ \"features\": {\n  \"conditions\": 1\n  }\n\t}\n  ,\t\"current_observation\":
        {\n\t\t\"image\": {\n\t\t\"url\":\"http://icons.wxug.com/graphics/wu2/logo_130x80.png\",\n\t\t\"title\":\"Weather
        Underground\",\n\t\t\"link\":\"http://www.wunderground.com\"\n\t\t},\n\t\t\"display_location\":
        {\n\t\t\"full\":\"Marte, Brazil\",\n\t\t\"city\":\"Marte\",\n\t\t\"state\":\"\",\n\t\t\"state_name\":\"Brazil\",\n\t\t\"country\":\"BZ\",\n\t\t\"country_iso3166\":\"BR\",\n\t\t\"zip\":\"00000\",\n\t\t\"magic\":\"1\",\n\t\t\"wmo\":\"83779\",\n\t\t\"latitude\":\"-23.52000046\",\n\t\t\"longitude\":\"-46.63000107\",\n\t\t\"elevation\":\"722.00000000\"\n\t\t},\n\t\t\"observation_location\":
        {\n\t\t\"full\":\"Sao Paulo, \",\n\t\t\"city\":\"Sao Paulo\",\n\t\t\"state\":\"\",\n\t\t\"country\":\"BZ\",\n\t\t\"country_iso3166\":\"BR\",\n\t\t\"latitude\":\"-23.62669182\",\n\t\t\"longitude\":\"-46.65537643\",\n\t\t\"elevation\":\"2635
        ft\"\n\t\t},\n\t\t\"estimated\": {\n\t\t},\n\t\t\"station_id\":\"SBSP\",\n\t\t\"observation_time\":\"Last
        Updated on June 8, 8:00 AM BRT\",\n\t\t\"observation_time_rfc822\":\"Wed,
        08 Jun 2016 08:00:00 -0300\",\n\t\t\"observation_epoch\":\"1465383600\",\n\t\t\"local_time_rfc822\":\"Wed,
        08 Jun 2016 08:27:07 -0300\",\n\t\t\"local_epoch\":\"1465385227\",\n\t\t\"local_tz_short\":\"BRT\",\n\t\t\"local_tz_long\":\"America/Sao_Paulo\",\n\t\t\"local_tz_offset\":\"-0300\",\n\t\t\"weather\":\"Partly
        Cloudy\",\n\t\t\"temperature_string\":\"52 F (11 C)\",\n\t\t\"temp_f\":52,\n\t\t\"temp_c\":11,\n\t\t\"relative_humidity\":\"82%\",\n\t\t\"wind_string\":\"From
        the SE at 5 MPH\",\n\t\t\"wind_dir\":\"SE\",\n\t\t\"wind_degrees\":140,\n\t\t\"wind_mph\":5,\n\t\t\"wind_gust_mph\":0,\n\t\t\"wind_kph\":7,\n\t\t\"wind_gust_kph\":0,\n\t\t\"pressure_mb\":\"1022\",\n\t\t\"pressure_in\":\"30.18\",\n\t\t\"pressure_trend\":\"0\",\n\t\t\"dewpoint_string\":\"46
        F (8 C)\",\n\t\t\"dewpoint_f\":46,\n\t\t\"dewpoint_c\":8,\n\t\t\"heat_index_string\":\"NA\",\n\t\t\"heat_index_f\":\"NA\",\n\t\t\"heat_index_c\":\"NA\",\n\t\t\"windchill_string\":\"NA\",\n\t\t\"windchill_f\":\"NA\",\n\t\t\"windchill_c\":\"NA\",\n\t\t\"feelslike_string\":\"52
        F (11 C)\",\n\t\t\"feelslike_f\":\"52\",\n\t\t\"feelslike_c\":\"11\",\n\t\t\"visibility_mi\":\"6.2\",\n\t\t\"visibility_km\":\"10.0\",\n\t\t\"solarradiation\":\"--\",\n\t\t\"UV\":\"1\",\"precip_1hr_string\":\"-9999.00
        in (-9999.00 mm)\",\n\t\t\"precip_1hr_in\":\"-9999.00\",\n\t\t\"precip_1hr_metric\":\"--\",\n\t\t\"precip_today_string\":\"0.00
        in (0.0 mm)\",\n\t\t\"precip_today_in\":\"0.00\",\n\t\t\"precip_today_metric\":\"0.0\",\n\t\t\"icon\":\"partlycloudy\",\n\t\t\"icon_url\":\"http://icons.wxug.com/i/c/k/partlycloudy.gif\",\n\t\t\"forecast_url\":\"http://www.wunderground.com/global/stations/83779.html\",\n\t\t\"history_url\":\"http://www.wunderground.com/history/airport/SBSP/2016/6/8/DailyHistory.html\",\n\t\t\"ob_url\":\"http://www.wunderground.com/cgi-bin/findweather/getForecast?query=-23.62669182,-46.65537643\",\n\t\t\"nowcast\":\"\"\n\t}\n}\n"
  recorded_at: Wed, 08 Jun 2016 11:27:08 GMT
- request:
    method: get
    uri: http://api.wunderground.com/api/c86d37088090cd44/forecast10day/q/zmw:00000.1.83779.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Creationtime:
      - '0.031'
      Last-Modified:
      - Wed, 08 Jun 2016 11:27:08 GMT
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "\n{\n  \"response\": {\n  \"version\":\"0.1\",\n  \"termsofService\":\"http://www.wunderground.com/weather/api/d/terms.html\",\n
        \ \"features\": {\n  \"forecast10day\": 1\n  }\n\t}\n\t\t,\n\t\"forecast\":{\n\t\t\"txt_forecast\":
        {\n\t\t\"date\":\"6:17 AM BRT\",\n\t\t\"forecastday\": [\n\t\t{\n\t\t\"period\":0,\n\t\t\"icon\":\"clear\",\n\t\t\"icon_url\":\"http://icons.wxug.com/i/c/k/clear.gif\",\n\t\t\"title\":\"Wednesday\",\n\t\t\"fcttext\":\"Partly
        cloudy. High 67F. Winds light and variable.\",\n\t\t\"fcttext_metric\":\"Partly
        cloudy skies. High near 20C. Winds light and variable.\",\n\t\t\"pop\":\"10\"\n\t\t}\n\t\t,\n\t\t{\n\t\t\"period\":1,\n\t\t\"icon\":\"nt_partlycloudy\",\n\t\t\"icon_url\":\"http://icons.wxug.com/i/c/k/nt_partlycloudy.gif\",\n\t\t\"title\":\"Wednesday
        Night\",\n\t\t\"fcttext\":\"Partly cloudy skies early will give way to cloudy
        skies late. Low 47F. Winds light and variable.\",\n\t\t\"fcttext_metric\":\"Partly
        cloudy this evening with more clouds for overnight. Low 9C. Winds light and
        variable.\",\n\t\t\"pop\":\"10\"\n\t\t}\n\t\t,\n\t\[...]
- request:
    method: get
    uri: https://webservices.amazon.com/onca/xml?AWSAccessKeyId=AKIAJYVTO265BHKQYDOA&AssociateTag=castb-20&ItemPage=1&Keywords=frizz%20hold%20hair%20Y4awtFSQtV&Operation=ItemSearch&ResponseGroup=Small,%20Images,%20Offers&SearchIndex=Beauty&Service=AWSECommerceService&Signature=fO46%2BHuPOTjx4tfjzxXb%2BEsPgS3ThDGBHeP71M4JlnE=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2016-06-08T11:27:08Z&Version=2013-08-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" ?><ItemSearchResponse xmlns="http://webservices.amazon.com/AWSECommerceService/2013-08-01"><OperationRequest><HTTPHeaders><Header
        Name="UserAgent" Value="Jeff/1.5.1 (Language=Ruby; vagrant-ubuntu-trusty-64)"></Header></HTTPHeaders><RequestId>6c46b344-3c19-4882-9636-f7b03f0db1f6</RequestId><Arguments><Argument
        Name="AWSAccessKeyId" Value="AKIAJYVTO265BHKQYDOA"></Argument><Argument Name="AssociateTag"
        Value="castb-20"></Argument><Argument Name="ItemPage" Value="1"></Argument><Argument
        Name="Keywords" Value="frizz hold hair Y4awtFSQtV"></Argument><Argument Name="Operation"
        Value="ItemSearch"></Argument><Argument Name="ResponseGroup" Value="Small,
        Images, Offers"></Argument><Argument Name="SearchIndex" Value="Beauty"></Argument><Argument
        Name="Service" Value="AWSECommerceService"></Argument><Argument Name="SignatureMethod"
        Value="HmacSHA256"></Argument><Argument Name="SignatureVersion" Value="2"></Argument><Argument
        Name="Timestamp" Value="2016-06-08T11:27:08Z"></Argument><Argument Name="Version"
        Value="2013-08-01"></Argument><Argument Name="Signature" Value="fO46+HuPOTjx4tfjzxXb+EsPgS3ThDGBHeP71M4JlnE="></Argument></Arguments><RequestProcessingTime>0.0320768910000000</RequestProcessingTime></OperationRequest><Items><Request><IsValid>True</IsValid><ItemSearchRequest><ItemPage>1</ItemPage><Keywords>frizz
        hold hair Y4awtFSQtV</Keywords><ResponseGroup>Small</ResponseGroup><ResponseGroup>Images</ResponseGroup><ResponseGroup>Offers</ResponseGroup><SearchIndex>Beauty</SearchIndex></ItemSearchRequest><Errors><Error><Code>AWS.ECommerceService.NoExactMatches</Code><Message>We
        did not find any matches for your request.</Message></Error></Errors></Request><TotalResults>0</TotalResults><TotalPages>0</TotalPages><MoreSearchResultsUrl>http://www.amazon.com/gp/redirect.html?linkCode=xm2&amp;SubscriptionId=AKIAJYVTO265BHKQYDOA&amp;location=http%3A%2F%2Fwww.amazon.com%2Fgp%2Fsearch%3Fkeywords%3Dfrizz%2Bhold%2Bhair%2BY4awtFSQtV%26url%3Dsearch-alias%253Dbeauty&amp;tag=castb-20&amp;creative=386001&amp;camp=2025</MoreSearchResultsUrl></Items></ItemSearchResponse>
  recorded_at: Wed, 08 Jun 2016 11:27:09 GMT
- request:
    method: get
    uri: https://webservices.amazon.com/onca/xml?AWSAccessKeyId=AKIAJYVTO265BHKQYDOA&AssociateTag=castb-20&ItemPage=1&Keywords=emollient%20serum%20skin%20TdYByoIALL&Operation=ItemSearch&ResponseGroup=Small,%20Images,%20Offers&SearchIndex=Beauty&Service=AWSECommerceService&Signature=fkYagdKapa39gOwnk/grtHGiT4O3CmjYeG5DEGrfH0Y=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2016-06-08T11:27:09Z&Version=2013-08-01
    body:
      encoding: US-ASCII
      string: [...]
- request:
    method: get
    uri: https://webservices.amazon.com/onca/xml?AWSAccessKeyId=AKIAJYVTO265BHKQYDOA&AssociateTag=castb-20&ItemPage=1&Keywords=frizz%20hair%20Y4awtFSQtV&Operation=ItemSearch&ResponseGroup=Small,%20Images,%20Offers&SearchIndex=Beauty&Service=AWSECommerceService&Signature=KTQujQCEz/vDEGIN40FJVqf33h7H7vfN54h2Bb9MJTY=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2016-06-08T11:27:10Z&Version=2013-08-01
    body:
      encoding: US-ASCII
      string: ''
    heade[...]
- request:
    method: get
    uri: https://webservices.amazon.com/onca/xml?AWSAccessKeyId=AKIAJYVTO265BHKQYDOA&AssociateTag=castb-20&ItemPage=1&Keywords=emollient%20skin%20TdYByoIALL&Operation=ItemSearch&ResponseGroup=Small,%20Images,%20Offers&SearchIndex=Beauty&Service=AWSECommerceService&Signature=/Jy3mFHB/XJqKqZgpXfhN%2B9TNjBvU4elRq7%2Bb7uvdzs=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2016-06-08T11:27:11Z&Version=2013-08-01
    body:
      encoding: US-ASCII
      string: ''
 [...]
- request:
    method: get
    uri: https://webservices.amazon.com/onca/xml?AWSAccessKeyId=AKIAJYVTO265BHKQYDOA&AssociateTag=castb-20&ItemPage=1&Keywords=hair%20Y4awtFSQtV&Operation=ItemSearch&ResponseGroup=Small,%20Images,%20Offers&SearchIndex=Beauty&Service=AWSECommerceService&Signature=zsx3Eij/f8kAdezc05U%2B9b95FicUaCAeoiZn2MNHc2k=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2016-06-08T11:27:12Z&Version=2013-08-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  [...]
- request:
    method: get
    uri: https://webservices.amazon.com/onca/xml?AWSAccessKeyId=AKIAJYVTO265BHKQYDOA&AssociateTag=castb-20&ItemPage=1&Keywords=skin%20TdYByoIALL&Operation=ItemSearch&ResponseGroup=Small,%20Images,%20Offers&SearchIndex=Beauty&Service=AWSECommerceService&Signature=1jJ/F9e%2BB%2BH3S1IfqWRrhW6XnvumFmvEWWUyw8Lyerg=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2016-06-08T11:27:13Z&Version=2013-08-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
[...]
