---
http_interactions:
- request:
    method: get
    uri: https://webservices.amazon.com/onca/xml?AWSAccessKeyId=AKIAJYVTO265BHKQYDOA&AssociateTag=castb-20&ItemId=B0173TK56O&Operation=ItemLookup&ResponseGroup=Small,%20Images,%20OfferSummary&Service=AWSECommerceService&Signature=xMKHP7Hyqp5rQarfW1oBoE9TP6nUkUrDtLkfJsRMFJo=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2016-06-08T10:49:33Z&Version=2013-08-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" ?><ItemLookupResponse xmlns="http://webservices.amazon.com/AWSECommerceService/2013-08-01"><OperationRequest><HTTPHeaders><Header
        Name="UserAgent" Value="Jeff/1.5.1 (Language=Ruby; vagrant-ubuntu-trusty-64)"></Header></HTTPHeaders><RequestId>565ffb26-7f9e-4ecd-a645-68c16effc99e</RequestId><Arguments><Argument
        Name="AWSAccessKeyId" Value="AKIAJYVTO265BHKQYDOA"></Argument><Argument Name="AssociateTag"
        Value="castb-20"></Argument><Argument Name="ItemId" Value="B0173TK56O"></Argument><Argument
        Name="Operation" Value="ItemLookup"></Argument><Argument Name="ResponseGroup"
        Value="Small, Images, OfferSummary"></Argument><Argument Name="Service" Value="AWSECommerceService"></Argument><Argument
        Name="SignatureMethod" Value="HmacSHA256"></Argument><Argument Name="SignatureVersion"
        Value="2"></Argument><Argument Name="Timestamp" Value="2016-06-08T10:49:33Z"></Argument><Argument
        Name="Version" Value="2013-08-01"></Argument><Argument Name="Signature" Value="xMKHP7Hyqp5rQarfW1oBoE9TP6nUkUrDtLkfJsRMFJo="></Argument></Arguments><RequestProcessingTime>0.0280783820000000</RequestProcessingTime></OperationRequest><Items><Request><IsValid>True</IsValid><ItemLookupRequest><IdType>ASIN</IdType><ItemId>B0173TK56O</ItemId><ResponseGroup>Small</ResponseGroup><ResponseGroup>Images</ResponseGroup><ResponseGroup>OfferSummary</ResponseGroup><VariationPage>All</VariationPage></ItemLookupRequest></Request><Item><ASIN>B0173TK56O</ASIN><DetailPageURL>http://www.amazon.com/Pantene-Pro-V-Smooth-Sleek-Conditioner/dp/B0173TK56O%3FSubscriptionId%3DAKIAJYVTO265BHKQYDOA%26tag%3Dcastb-20%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3DB0173TK56O</DetailPageURL><ItemLinks><ItemLink><Description>Technical
        Details</Description><URL>http://www.amazon.com/Pantene-Pro-V-Smooth-Sleek-Conditioner/dp/tech-data/B0173TK56O%3FSubscriptionId%3DAKIAJYVTO265BHKQYDOA%26tag%3Dcastb-20%26linkCode%3Dxm2%26camp%3D2025%26creative%3D386001%26creativeASIN%3DB0173TK56O</URL></ItemLink><ItemLink><Description>Add
        To Baby Registry</Description><URL>http://www.amazon.com/gp/registry/baby/add-item.html%3Fasin.0%3DB0173TK56O%26SubscriptionId%3DAKIAJYVTO265BHKQYDOA%26tag%3Dcastb-20%26linkCode%3Dxm2%26camp%3D2025%26creative%3D386001%26creative[...]
