---
http_interactions:
- request:
    method: get
    uri: https://webservices.amazon.com/onca/xml?AWSAccessKeyId=AKIAJYVTO265BHKQYDOA&AssociateTag=castb-20&ItemPage=1&Keywords=windy%20dry%20hair%20straight&Operation=ItemSearch&ResponseGroup=Small,%20Images,%20Offers&SearchIndex=Beauty&Service=AWSECommerceService&Signature=3Q94eePnu3HvsQ9r2roNH0sGC3wQdvlSgUkTQIprn14=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2016-06-08T11:34:26Z&Version=2013-08-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" ?><ItemSearchResponse xmlns="http://webservices.amazon.com/AWSECommerceService/2013-08-01"><OperationRequest><HTTPHeaders><Header
        Name="UserAgent" Value="Jeff/1.5.1 (Language=Ruby; vagrant-ubuntu-trusty-64)"></Header></HTTPHeaders><RequestId>a3134ae1-8053-4b69-a6ae-bab1bddc8d1b</RequestId><Arguments><Argument
        Name="AWSAccessKeyId" Value="AKIAJYVTO265BHKQYDOA"></Argument><Argument Name="AssociateTag"
        Value="castb-20"></Argument><Argument Name="ItemPage" Value="1"></Argument><Argument
        Name="Keywords" Value="windy dry hair straight"></Argument><Argument Name="Operation"
        Value="ItemSearch"></Argument><Argument Name="ResponseGroup" Value="Small,
        Images, Offers"></Argument><Argument Name="SearchIndex" Value="Beauty"></Argument><Argument
        Name="Service" Value="AWSECommerceService"></Argument><Argument Name="SignatureMethod"
        Value="HmacSHA256"></Argument><Argument Name="SignatureVersion" Value="2"></Argument><Argument
        Name="Timestamp" Value="2016-06-08T11:34:26Z"></Argument><Argument Name="Version"
        Value="2013-08-01"></Argument><Argument Name="Signature" Value="3Q94eePnu3HvsQ9r2roNH0sGC3wQdvlSgUkTQIprn14="></Argument></Arguments><RequestProcessingTime>0.1409051540000000</RequestProcessingTime></OperationRequest><Items><Request><IsValid>True</IsValid><ItemSearchRequest><ItemPage>1</ItemPage><Keywords>windy
        dry hair straight</Keywords><ResponseGroup>Small</ResponseGroup><ResponseGroup>Images</ResponseGroup><ResponseGroup>Offers</ResponseGroup><SearchIndex>Beauty</SearchIndex></ItemSearchRequest></Request><TotalResults>1</TotalResults><TotalPages>1</TotalPages><MoreSearchResultsUrl>http://www.amazon.com/gp/redirect.html?linkCode=xm2&amp;SubscriptionId=AKIAJYVTO265BHKQYDOA&amp;location=http%3A%2F%2Fwww.amazon.com%2Fgp%2Fsearch%3Fkeywords%3Dwindy%2Bdry%2Bhair%2Bstraight%26url%3Dsearch-alias%253Dbeauty&amp;tag=castb-20&amp;creative=386001&amp;camp=2025</MoreSearchResultsUrl><Item><ASIN>B000LNHHSY</ASIN><DetailPageURL>http://www.amazon.com/Windy-City-Novelties-Sassy-Black/dp/B000LNHHSY%3FSubscriptionId%3DAKIAJYVTO265BHKQYDOA%26tag%3Dcastb-20%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3DB000LNHHSY</DetailPageURL><ItemLinks><ItemLink><Description>Technical
        Details</Description><URL>http://www.amazon.com/Windy-City-Novelties-Sassy-Black/dp/tech-data/B000LNHHSY%3FSubscriptionId%3DAKIAJYVTO265BHKQYDOA%26tag%3Dcastb-20%26linkCode%3Dxm2%26camp%3D2025%26creative%3D386001%26creativeASIN%3DB000LNHHSY</URL></ItemLink><ItemLink><Description>Add
        To Baby Registry</Description><URL>http://www.amazon.com/gp/registry/baby/add-item.html%3Fasin.0%3DB000LNHHSY%26SubscriptionId%3DAKIAJYVTO265BHKQYDOA%26tag%3Dcastb-20%26linkCode%3Dxm2%26camp%3D2025%26creative%3D386001%26creativeASIN%3[...]
- request:
    method: get
    uri: https://webservices.amazon.com/onca/xml?AWSAccessKeyId=AKIAJYVTO265BHKQYDOA&AssociateTag=castb-20&ItemPage=1&Keywords=dry%20Hydrat%20skin%20normal&Operation=ItemSearch&ResponseGroup=Small,%20Images,%20Offers&SearchIndex=Beauty&Service=AWSECommerceService&Signature=k2gHI0GnuNWPnPmk7x3gmYV3hDw4jbAVwICLHGc1VWY=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2016-06-08T11:34:27Z&Version=2013-08-01
    body:
      encoding: US-ASCII
      string: ''
    he[...]
