---
http_interactions:
- request:
    method: get
    uri: https://webservices.amazon.com/onca/xml?AWSAccessKeyId=AKIAJYVTO265BHKQYDOA&AssociateTag=castb-20&ItemId=B001THQ4FI&Operation=ItemLookup&ResponseGroup=Small,%20Images,%20OfferSummary&Service=AWSECommerceService&Signature=AuEbcI/YCg34CLAw9Dammn391R2G9Kg//I97KVw2OpE=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2016-06-08T10:53:48Z&Version=2013-08-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" ?><ItemLookupResponse xmlns="http://webservices.amazon.com/AWSECommerceService/2013-08-01"><OperationRequest><HTTPHeaders><Header
        Name="UserAgent" Value="Jeff/1.5.1 (Language=Ruby; vagrant-ubuntu-trusty-64)"></Header></HTTPHeaders><RequestId>69fe4c94-fe0d-4d5e-97c8-b213dffb971a</RequestId><Arguments><Argument
        Name="AWSAccessKeyId" Value="AKIAJYVTO265BHKQYDOA"></Argument><Argument Name="AssociateTag"
        Value="castb-20"></Argument><Argument Name="ItemId" Value="B001THQ4FI"></Argument><Argument
        Name="Operation" Value="ItemLookup"></Argument><Argument Name="ResponseGroup"
        Value="Small, Images, OfferSummary"></Argument><Argument Name="Service" Value="AWSECommerceService"></Argument><Argument
        Name="SignatureMethod" Value="HmacSHA256"></Argument><Argument Name="SignatureVersion"
        Value="2"></Argument><Argument Name="Timestamp" Value="2016-06-08T10:53:48Z"></Argument><Argument
        Name="Version" Value="2013-08-01"></Argument><Argument Name="Signature" Value="AuEbcI/YCg34CLAw9Dammn391R2G9Kg//I97KVw2OpE="></Argument></Arguments><RequestProcessingTime>0.0772138660000000</RequestProcessingTime></OperationRequest><Items><Request><IsValid>True</IsValid><ItemLookupRequest><IdType>ASIN</IdType><ItemId>B001THQ4FI</ItemId><ResponseGroup>Small</ResponseGroup><ResponseGroup>Images</ResponseGroup><ResponseGroup>OfferSummary</ResponseGroup><VariationPage>All</VariationPage></ItemLookupRequest></Request><Item><ASIN>B001THQ4FI</ASIN><DetailPageURL>http://www.amazon.com/Steven-Victor-Miracle-Corrective-0-5-Ounce/dp/B001THQ4FI%3FSubscriptionId%3DAKIAJYVTO265BHKQYDOA%26tag%3Dcastb-20%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3DB001THQ4FI</DetailPageURL><ItemLinks><ItemLink><Description>Technical
        Details</Description><URL>http://www.amazon.com/Steven-Victor-Miracle-Corrective-0-5-Ounce/dp/tech-data/B001THQ4FI%3FSubscriptionId%3DAKIAJYVTO265BHKQYDOA%26tag%3Dcastb-20%26linkCode%3Dxm2%26camp%3D2025%26creative%3D386001%26creativeASIN%3DB001THQ4FI</URL></ItemLink><ItemLink><Description>Add
        To Baby Registry</Description><URL>http://www.amazon.com/gp/registry/baby/add-item.html%3Fasin.0%3DB001THQ4FI%26SubscriptionId%3DAKIAJYVTO265BHKQYDOA%26tag%3Dcastb-20%26linkCode%3Dxm2%26camp%3D2025%26creative%3D386001%26crea[...]
