---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/timezone/json?key=AIzaSyA094EohRCADsGa49mznMD7B2spnthCrrE&location=37.8267,-122.423&timestamp=1464260168
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "dstOffset" : 3600,
           "rawOffset" : -28800,
           "status" : "OK",
           "timeZoneId" : "America/Los_Angeles",
           "timeZoneName" : "Pacific Daylight Time"
        }
  recorded_at: Thu, 26 May 2016 10:56:08 GMT
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/timezone/json?key=AIzaSyA094EohRCADsGa49mznMD7B2spnthCrrE&location=37.8267,-122.423&timestamp=1464260168
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "dstOffset" : 3600,
           "rawOffset" : -28800,
           "status" : "OK",
           "timeZoneId" : "America/Los_Angeles",
           "timeZoneName" : "Pacific Daylight Time"
        }
  recorded_at: Thu, 26 May 2016 10:56:08 GMT
recorded_with: VCR 3.0.1
