---
http_interactions:
- request:
    method: get
    uri: https://webservices.amazon.com/onca/xml?AWSAccessKeyId=AKIAJYVTO265BHKQYDOA&AssociateTag=castb-20&ItemPage=1&Keywords=s9df0s98fs9dfs&Operation=ItemSearch&ResponseGroup=Small,%20Images,%20Offers&SearchIndex=Beauty&Service=AWSECommerceService&Signature=Wy6JJgMmpkKq6D7kkguZxMrGbgfEI/kCjA7LgxZlrwg=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2016-06-08T10:49:31Z&Version=2013-08-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" ?><ItemSearchResponse xmlns="http://webservices.amazon.com/AWSECommerceService/2013-08-01"><OperationRequest><HTTPHeaders><Header
        Name="UserAgent" Value="Jeff/1.5.1 (Language=Ruby; vagrant-ubuntu-trusty-64)"></Header></HTTPHeaders><RequestId>72f8eeeb-97c9-4701-9bd7-42eb6715743f</RequestId><Arguments><Argument
        Name="AWSAccessKeyId" Value="AKIAJYVTO265BHKQYDOA"></Argument><Argument Name="AssociateTag"
        Value="castb-20"></Argument><Argument Name="ItemPage" Value="1"></Argument><Argument
        Name="Keywords" Value="s9df0s98fs9dfs"></Argument><Argument Name="Operation"
        Value="ItemSearch"></Argument><Argument Name="ResponseGroup" Value="Small,
        Images, Offers"></Argument><Argument Name="SearchIndex" Value="Beauty"></Argument><Argument
        Name="Service" Value="AWSECommerceService"></Argument><Argument Name="SignatureMethod"
        Value="HmacSHA256"></Argument><Argument Name="SignatureVersion" Value="2"></Argument><Argument
        Name="Timestamp" Value="2016-06-08T10:49:31Z"></Argument><Argument Name="Version"
        Value="2013-08-01"></Argument><Argument Name="Signature" Value="Wy6JJgMmpkKq6D7kkguZxMrGbgfEI/kCjA7LgxZlrwg="></Argument></Arguments><RequestProcessingTime>0.0290527150000000</RequestProcessingTime></OperationRequest><Items><Request><IsValid>True</IsValid><ItemSearchRequest><ItemPage>1</ItemPage><Keywords>s9df0s98fs9dfs</Keywords><ResponseGroup>Small</ResponseGroup><ResponseGroup>Images</ResponseGroup><ResponseGroup>Offers</ResponseGroup><SearchIndex>Beauty</SearchIndex></ItemSearchRequest><Errors><Error><Code>AWS.ECommerceService.NoExactMatches</Code><Message>We
        did not find any matches for your request.</Message></Error></Errors></Request><TotalResults>0</TotalResults><TotalPages>0</TotalPages><MoreSearchResultsUrl>http://www.amazon.com/gp/redirect.html?linkCode=xm2&amp;SubscriptionId=AKIAJYVTO265BHKQYDOA&amp;location=http%3A%2F%2Fwww.amazon.com%2Fgp%2Fsearch%3Fkeywords%3Ds9df0s98fs9dfs%26url%3Dsearch-alias%253Dbeauty&amp;tag=castb-20&amp;creative=386001&amp;camp=2025</MoreSearchResultsUrl></Items></ItemSearchResponse>
  recorded_at: Wed, 08 Jun 2016 10:49:32 GMT
recorded_with: VCR 3.0.1
