---
http_interactions:
- request:
    method: get
    uri: https://webservices.amazon.com/onca/xml?AWSAccessKeyId=AKIAJYVTO265BHKQYDOA&AssociateTag=castb-20&ItemPage=11&Keywords=curly%20hair&Operation=ItemSearch&ResponseGroup=Small,%20Images,%20Offers&SearchIndex=Beauty&Service=AWSECommerceService&Signature=BzFw56it87xn8oYX4P1TbFz%2BoTuYHJ3osk%2B7QmxF/2Q=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2016-06-08T10:49:30Z&Version=2013-08-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" ?><ItemSearchResponse xmlns="http://webservices.amazon.com/AWSECommerceService/2013-08-01"><OperationRequest><HTTPHeaders><Header
        Name="UserAgent" Value="Jeff/1.5.1 (Language=Ruby; vagrant-ubuntu-trusty-64)"></Header></HTTPHeaders><RequestId>edd71b4a-11b5-49c5-a4a1-65560e5ea476</RequestId><Arguments><Argument
        Name="AWSAccessKeyId" Value="AKIAJYVTO265BHKQYDOA"></Argument><Argument Name="AssociateTag"
        Value="castb-20"></Argument><Argument Name="ItemPage" Value="11"></Argument><Argument
        Name="Keywords" Value="curly hair"></Argument><Argument Name="Operation" Value="ItemSearch"></Argument><Argument
        Name="ResponseGroup" Value="Small, Images, Offers"></Argument><Argument Name="SearchIndex"
        Value="Beauty"></Argument><Argument Name="Service" Value="AWSECommerceService"></Argument><Argument
        Name="SignatureMethod" Value="HmacSHA256"></Argument><Argument Name="SignatureVersion"
        Value="2"></Argument><Argument Name="Timestamp" Value="2016-06-08T10:49:30Z"></Argument><Argument
        Name="Version" Value="2013-08-01"></Argument><Argument Name="Signature" Value="BzFw56it87xn8oYX4P1TbFz+oTuYHJ3osk+7QmxF/2Q="></Argument></Arguments><RequestProcessingTime>0.0023533450000000</RequestProcessingTime></OperationRequest><Items><Request><IsValid>False</IsValid><ItemSearchRequest><ItemPage>11</ItemPage><Keywords>curly
        hair</Keywords><ResponseGroup>Small</ResponseGroup><ResponseGroup>Images</ResponseGroup><ResponseGroup>Offers</ResponseGroup><SearchIndex>Beauty</SearchIndex></ItemSearchRequest><Errors><Error><Code>AWS.ParameterOutOfRange</Code><Message>The
        value you specified for ItemPage is invalid.  Valid values must be between
        1 and 10.</Message></Error></Errors></Request></Items></ItemSearchResponse>
  recorded_at: Wed, 08 Jun 2016 10:49:30 GMT
recorded_with: VCR 3.0.1
