---
http_interactions:
- request:
    method: get
    uri: https://webservices.amazon.com/onca/xml?AWSAccessKeyId=AKIAJYVTO265BHKQYDOA&AssociateTag=castb-20&ItemPage=1&Keywords=windy%20dry%20curly%20hair&Operation=ItemSearch&ResponseGroup=Small,%20Images,%20Offers&SearchIndex=Beauty&Service=AWSECommerceService&Signature=ZFBFJ7dhVFZvUNOEWZ5ntu/roA8/A/O2ruKavMWyYVk=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2016-06-08T12:00:29Z&Version=2013-08-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 503
      message: ''
    headers:
      Nncoection:
      - close
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <ItemSearchErrorResponse xmlns="http://ecs.amazonaws.com/doc/2013-08-01/"><Error><Code>RequestThrottled</Code><Message>AWS Access Key ID: AKIAJYVTO265BHKQYDOA. You are submitting requests too quickly. Please retry your requests at a slower rate.</Message></Error><RequestId>b2f62c73-ab54-4421-b82e-f7e382820a8f</RequestId></ItemSearchErrorResponse>
  recorded_at: Wed, 08 Jun 2016 12:00:29 GMT
recorded_with: VCR 3.0.1
